@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

#intro {
  animation: secfadeIn 12s both;
}


@keyframes secfadeIn {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;

  }
}

.animate-fade-in {
  animation: fadeIn 5s ease-in-out forwards;
  animation-delay: 9s;
}


@keyframes fadeIn {
  0% {
    scale: 1;
    color: #ffffff;
  }
  90% {
    color: #ffffff;
  }
  100% {
    scale: 1500;
    color: #ffffff;
  }
}


